%h2 Sign Up To Become a Mentor
= form_for @mentor do |f|
  = fields_for :locations do |l|
    .field
      = l.label "Available Locations: "
      %br/
      = l.collection_check_boxes :location_ids, Location.all, :id, :name do |b|
        = b.check_box
        = b.label
        %br/
  %br/
  = fields_for :grades do |g|
    .field
      = g.label "I would like to work with students in these grades: "
      %g
      = g.collection_check_boxes :grade_ids, Grade.all, :id, :name do |b|
        = b.check_box
        = b.label
        %br/
  %br/
  = fields_for :availabilities do |a|
    .field
      = a.label "I am generally avaiable during these times: "
      %br/
      = a.collection_check_boxes :availability_ids, Availability.all, :id, :name do |b|
        = b.check_box
        = b.label
        %br/
  %br/
  .actions
    = f.submit "Sign up"
